# --- build artefacts -------------------------------------------------
ros1_ws/build/
ros1_ws/devel/
ros2_ws/build/
ros2_ws/install/
**/__pycache__/
# --- editor / OS clutter --------------------------------------------
.vscode/
#.devcontainer/
.DS_Store
*.log
*.bag
